#navbar {
    height: 80px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h2 {
    font-size: 30px;
    margin: 2em;
}

.form {
    width: 700px;
    height: inherit;
    display: flex;
    align-items: center;
}

.form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    width: 400px;
    margin: 1em;
}

.form button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: inherit;
    color: white;
    cursor: pointer;
}

.lupa {
    height: 30px;
    width: 30px;
}

.lupa:hover {
    color: #b89306;
}

@media only screen and (max-width: 600px) {
    #navbar{
        width: 600px;
    }
    .h2 {
        margin: 1em;
    }

    .form {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .form input {
        width: 15em;
        margin: 0;
    }

    .lupa {
        border: solid rgb(255, 255, 255) 1px;
        background-color: #b89306;
        border-radius: 2px;
        margin:0;
        height: 50px;
        width: 50px;
    }
}